# Ignore all backups
auto-save-list/*
backups/
*~
**/#*
**/.#*

# Ignore experiments
*.per.*
exp/

# Ignore session files
session.*

# Ignore emms files
emms/

# Ignore url request
url/

# Ignore cookie files
request/
