[submodule "init-scripts/latex-preview-pane"]
	path = init-scripts/latex-preview-pane
	url = https://github.com/wynro/latex-preview-pane.git
  branch = master
[submodule "init-scripts/dashboard"]
	path = init-scripts/dashboard
	url = https://github.com/wynro/emacs-dashboard
	branch = master
