# Ignore all backups
auto-save-list/*
backups/
*~
**/#*
**/.#*

# Ignore experiments
*.per.*
exp/

# Ignore session files
session.*

# Ignore emms files
emms/

# Ignore url request
url/

# Ignore cookie files
request/

# Ignore emacs logging
emacs.log

# Ignore TRAMP cache
tramp

# Ignore JDEE cache
semanticdb/

# Ignore package readmes
elpa/*-readme.txt

# Ignore repositories lists
elpa/archives/

# Ignore mc-lists file
.mc-lists.el

